.container{
    border: 8px solid #016a26;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.item{
    height: 50px;
    width: 50px;
    margin: 2px;
    font-size: 50px;
    
    padding: 10px;
    background-color: #016a26;
    border: 2px solid black;
   
}